@import "../bower_components/bootstrap/less/bootstrap.less";


@lightgrey:       #CACBC8;
@darkgrey:        #49494A;
@maingreen:       #0085A3;  
@navbackground:   #f8f8f8;

body {
  padding-top: 175px;
}


.main-logo {
  border-right: 1px solid lightgrey;
  h1 {
    margin: 15px 0px;
  }
}

.desktop-nav {
  padding-right: 0px;
  ul {
    margin-bottom: 0px;
  }

  li {
    text-align: center;
    padding: 7px 15px;
    border-left: 1px solid lightgrey; 

    a {
      color: @darkgrey;
    }
  }
}

.search-bar { 
  h4 {
    margin: 25px 0px;
  } 
}

.mobile-menu {
  a  {
    color: @darkgrey;
    i {
      margin-top: 15px;
    }
  }
}

.search {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;  
  .breadcrumb {
    padding: 20px 0px;
    margin-bottom: 0px;
    background-color: @navbackground;
    a {
      color: @darkgrey;
      border-bottom: 1px dotted @darkgrey;
      &:hover {
        color: @maingreen;
        text-decoration: none;
        border-bottom: 1px dotted @maingreen;
      }
    }
    .active span {
      color: black;
    }
  }

  .results {
    padding-top: 20px;

    h5 {
      margin: 0px;

      span {
        color: @maingreen;
        font-size: 20px;
      }
    }
  }
}


.filter {
  border-right: 1px solid lightgrey;
  background-color: lightgrey;

  h4 {
    margin: 13px 0px;
    cursor: pointer;
    a {
      color: @darkgrey;
      text-decoration: none;
    }
  }
}

.tagline {
  border-right: 1px solid lightgrey;
    p {
    margin: 12px 0px;
  }
}

.sort-down {
  .tagline;
  a {
    color: @darkgrey;
    text-decoration: none;
    cursor: pointer;
  } 
}
