@import "../bower_components/bootstrap/less/bootstrap.less";


@lightgrey:       #F3F3F3;
@darkgrey-links:  #49494A;
@maingreen:       #0085A3;  
@navbackground:   #f8f8f8;

body {
  padding-top: 175px;
}

.border-right {
  border-right: 1px solid lightgrey;
}

// main nav styling

.main-logo {
  .border-right;
  h1 {
    margin: 15px 0px;
  }
}

.desktop-nav {
  padding-right: 0px;
  ul {
    margin-bottom: 0px;
  }

  li {
    text-align: center;
    padding: 7px 15px;
    border-left: 1px solid lightgrey; 

    a {
      color: @darkgrey-links;
    }
  }
}

.search-bar { 
  h4 {
    margin: 25px 0px;
  } 
}

.mobile-menu {
  a  {
    color: @darkgrey-links;
    i {
      margin-top: 15px;
    }
  }
}

.search {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  .breadcrumb {
    padding: 20px 0px;
    margin-bottom: 0px;
    background-color: @navbackground;

    a {
      color: @darkgrey-links;
      border-bottom: 1px dotted darkgrey;
      &:hover {
        color: @maingreen;
        text-decoration: none;
        border-bottom: 1px dotted @maingreen;
      }
    }

    .active span {
      color: black;
    }
  }

  .results {
    padding: 20px;

    h5 {
      margin: 0px;

      span {
        color: @maingreen;
        font-size: 20px;
      }
    }
  }
}

.filter {
 .border-right;
  background-color: lightgrey;
  padding: 13px;

  h4 {
    margin: 0px;
    cursor: pointer;
    a {
      color: @darkgrey-links;
      text-decoration: none;
    }
  }
}

.tagline {
  .border-right;
    p {
    margin: 12px 0px;
  }
}

.sort-down {
  .tagline;
  a {
    color: @darkgrey-links;
    text-decoration: none;
    cursor: pointer;
  } 
}

// results 

.result-listing {
  .border-right;
}

.hotel-listing {
  padding: 50px 15px 50px;
  &:hover {
    background-color: lightgrey;
  }

  img {
    width: 100%;
  }
}


// filter results 

.filter-groups {
  border-bottom: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
  background-color: @lightgrey;
  h5 {
    padding: 5px 0px;
  }
  a {
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }
}

.fa-star{
  color: gold;
}

.filter-apply {
  .filter-groups;
  background-color: white;
  padding: 20px;
}

.btn-default {
  width: 100%;
  padding: 10px;
  color: @darkgrey-links;

}

.btn-primary {
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #2e6da4;
  background-color: @maingreen;

  &:hover {
    background-color: @maingreen;
    color: white;
    opacity: 0.7;
  }
  &:active {
    color: white;
  }
}

@media (max-width: @screen-sm) {
  .btn-primary {
    margin-top: 15px;
  }
}

label {
  display: block;
}

input, select {
  margin: 5px 5px 10px 0px;
}

option {
  padding: 10px;
}

.checkbox-inline {
  margin-left: 10px;
}


.filter-options {
  padding: 10px;
  .form-control {
    width: 100px;
  }
}


.filter-checkbox {
  padding: 10px;

  .filter-options;
  label {
    margin: 10px;
  }
  .checkbox-inline {
    margin: 10px;
  }
}

@media (max-width: @screen-sm) {
  .filter-checkbox {
    .checkbox-inline {
      width: 25%;
    }
  }
}
